<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1>Create Event</h1>

<p th:text="${errorMsg}" style="color: red;"></p>

<!-- this element will be replaced by the fragment defined in fragments.html -->
<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/events/create">

    <div class="form-group mb-3">
        <label>Name
            <input th:field="${event.name}" class="form-control"> <!-- this has to match the field names of the event object -->
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>

    <div class="form-group mb-3">
        <label>Description
            <input th:field="${event.description}" class="form-control"> <!-- this has to match the field names of the event object -->
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>

    <div class="form-group mb-3">
        <label>Contact Email
            <input th:field="${event.contactEmail}" class="form-control"> <!-- this has to match the field names of the event object -->
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>

    <div class="form-group mb-3">
        <label>Type
        <select th:field="${event.type}">
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${type.displayName}"
            ></option>
        </select>
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>
