<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>All Events</h1>

<!-- this element will be replaced by the fragment defined in fragments.html -->
<nav th:replace="fragments :: navigation"></nav>

<!-- unless is basically like the opposite of an if -->
<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact Email</th>
            <th>Category</th>
        </tr>
    </thead>
    <tr th:block th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.contactEmail}"></td>
        <td th:text="${event.category.name}"></td>
        <!-- event.name = event.getName() syntax sugar -->
    </tr>
</table>

</body>
</html>
