<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1>All Events</h1>

<!-- this element will be replaced by the fragment defined in fragments.html -->
<nav th:replace="fragments :: navigation"></nav>

<!-- unless is basically like the opposite of an if -->
<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Event Name</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td><a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.name}"></a></td>
    </tr>
</table>

</body>
</html>
